.avatar {
    background-image: url('https://picsum.photos/id/870/200/300?grayscale&blur=2');
    
    width: 150px;
    height: 150px;
    border-radius: 50%;

    /* use to fit the background-image in container*/
    background-size: cover;


}
